* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', 'Inter';
    /* font-family:  sans-serif; */


}

body {
    max-width: 1240px;
    margin: 0 auto;
}



.banner {
    background: url('img/Banner\ Image.png');
    /* background-repeat: no-repeat; */
    width: 1300px;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;

}

.new_year_banner {
    /* background-image: url("img/Banner\ Image.png"); */
    border-radius: 10px;
    width: 1300px;
    height: 600px;
    position: absolute;
    opacity: .3;


}

.new_year_texts {
    color: rgb(244, 0, 0);
    text-align: center;
    padding: 260px 0px;
    text-shadow: 5px 5px -5px;
}

.new_year_greeting {
    font-size: 25px;
    font-weight: 500;

}

.banner_title {
    width: 350px;
    font-size: 45px;
    font-weight: 900;

}

.hero_area {
    margin-top: 150px;
    align-items: center;
    text-align: center;
}

.off_price {
    font-family: inter;
    font-size: 75px;
    font-weight: 700;
    padding: 45px;
}

.text_color {
    color: red;
}

.all_category {
    font-family: inter;
    padding-top: 20px;
}

.hero_pic {
    width: 500px;
    height: 280px;
    padding-top: 30px;
}

.hero_second {
    background: url("img/Vectorrr.png");
    background-repeat: no-repeat;
    /*  */
    height: 600px;
    margin: 50px 40px;
    position: relative;


}

.hero_second_container {
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.hero_second_left {
    padding-top: 250px;
    padding-left: 120px;
    width: 35%;
    color: white;
    text-align: left;
}

.second_left_h1 {
    width: 600px;
    letter-spacing: 7.04px;
    font-weight: 900;
    font-size: 45px;
}

.second_left_para {
    padding: 15px 0px;
    width: 600px;
}

.hero_second_right img {
    width: 100%;
    padding-right: 80px;
    padding-top: 80px;

}

.Join_now_btn {
    padding: 15px;
    background-color: black;
    border: none;
    border-radius: 5px;

}

.Join_now_btn a {
    padding: 15px;
    color: white;
    font-size: 20px;
    text-decoration: none;

}

.Join_now_btn:hover a {
    transition: .5s;
    cursor: pointer;
    color: black;
}

.Join_now_btn:hover {
    background-color: white;
    color: black;
}

.park_hotel_section {
    /* background:linear-gradient(to bottom, red, white);
    opacity: .1; */
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-top: 130px;
    border-radius: 15px;
    height: 320px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.park_hotel_text {
    padding-top: 130px;
}

.join_now_btn_2 {
    margin-top: 20px;
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;

}

.join_now_btn_2:hover {
    background-color: rgb(3, 124, 11);
    color: white;
    transition: .5s;
    cursor: pointer;
}

/* coming soon styles */
.coming_soon_section {
    display: flex;
    justify-content: space-around;

    margin-top: 200px;
}

.coming_soon_first {
    width: 400px;

}

.coming_soon_title {
    padding: 10px 0px;
    color: red;
}

.coming_soon_second {
    padding-left: 30px;
}

.ellipse_img {
    width: 300px;
    padding: 20px;
    outline: 10px solid red;
    border-radius: 50%;
}

.coming_soon_third {
    padding-left: 120px;
    width: 350px;
}

.coming_soon_third_para {
    padding: 10px 0px;
}

/* holiday section styles */
/* 
.holiday_container {
    background-image: url(img/Rectangle\ 2.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
} */


.holiday_container {
  margin-top: 250px;


}

.holiday_right{
    background-image: url("img/Group\ 79.png");
    background-repeat: no-repeat;
    width: 100%;
    height:600px;
   
    
}
.girl_pic{
    width: 350px;
    height: 480px;
    margin-top: -45px;
    margin-left: 890px;
    position: relative;
    
}
.off_price_pic{
    position: absolute;
    margin-top: -625px;
    margin-left: 105px;
}

.holidays_section {
    text-align: center;
    margin-top: 100px;
}

.holiday_title {
    padding: 10px;
    font-family: 'Merriweather';
}

.holiday_heading {
    font-size: 50px;
    font-weight: 900;
}

.holiday_para {
    margin: 0 auto;
    width: 850px;
    padding-top: 10px;
}


.discount_section {
    margin-right: 180px;
}

.pictures {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 800px;
    margin: 0 auto;

}

.pictures img {
    width: 100%;
    padding: 10px;
    position: relative;
}




.all_title {
    /* text-align: left; */
    font-family: Merriweather;
    margin-top: 150px;
    margin-left: 180px;

}

.Portfolio_title {
    font-family: Merriweather;
    font-size: 35px;
    font-weight: 900;
}

.portfolio_para {
    padding: 15px 0px;
}

/* subscribe section styles */
.subscribe_container {

    /* justify-content: center; */
    align-items: center;
    position: relative;
    /* margin: 0 auto; */
    padding: 35px;
    /* padding-left: 350px; */
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 50px 120px;
    text-align: center;

    /* padding-left: 350px; */

}

.newletter_heading {
    margin: 15px 0px;
}

.newsletter_para {
    margin: 15px 0px;
}

.subscribe_left {
    width: 400px;
}

#label {
    position: relative;
    margin: 25px 0px;
}

.email_input {
    border: none;
    background-color: #ffffff;
    color: black;
    padding: 15px;
    width: 250px;
    height: 50px;
    font-size: 20px;
    border-radius: 25px 0 0 25px;
    position: relative;
}

.btn_subscribe {
    height: 50px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    position: absolute;
    text-align: center;
}

.btn_subscribe:hover {
    background-color: white;
    color: red;
    transition: .5s;
}

label {
    padding: 15px 0px;
}
/* footer styling */
.footer_container{
    background-color: black;
    margin: 0 auto;
    color: #ffffff;
    font-family: inter;
}
.horizontal_primary{
    width: 950px;
    margin: 0 auto;
}
.footer_top{
    display: flex;
    justify-content: space-between;
    padding: 50px 140px;
}
.footer_top_right ul li{
    list-style: none;
    text-align: center;
    align-items: center;
}
.footer_top_right img{
    text-align: center;
}
.footer_middle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.footer_middle img{
    width: 65px;
    height: 65px;
}
.footer_bottom{
    display: flex;
    justify-content: space-between;
    padding: 50px 140px;
}
